@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
}

@keyframes slider {
  from {
    margin-bottom: -5%;
    opacity: 0.3;
    width: 110%;
  }

  to {
    margin-bottom: 0%;
    opacity: 1;
    width: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  padding-top: 46px;
  background-image: url(../image/background\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  color: #ffffff;
}

.content-wrapper {
  width: 1030px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.header__logo {
  height: 47px;
  border: none;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #ffffff;
}

.logo_image {
  width: 53px;
  height: 47px;
  background-image: url("../image/logo\ 3.svg");
  display: block;
}

.logo_text {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.logo_text span {
  font-style: bold;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
}

.logo_text span p {
  padding-top: 5px;
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.header__logo:hover .logo_image {
  background-image: url("../image/logo\ 3.1.png");
}

.header__logo:hover .logo_text {
  color: #f26522;
}

.header__contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.header__contacts {
  justify-items: flex-end;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.header__contacts:nth-child(1):hover {
  color: #f26522;
}

.header__contacts:nth-child(2):hover {
  color: #f26522;
}

.main {
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 54px;
}

.main__item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.item-wrapper {
  display: flex;
  justify-content: end;
  flex-direction: column;
  width: 300px;
  height: 220px;
}

.item-border {
  position: relative;
  background: linear-gradient(to top, white, black);
  padding: 3px;
}

.first {
  background-image: url("../image/image1.png");
}

.second {
  background-image: url("../image/image2.png");
}

.third {
  background-image: url("../image/image3.png");
}

.fourth {
  background-image: url("../image/image4.png");
}

.fifth {
  background-image: url("../image/image5.png");
}

.sixth {
  background-image: url("../image/image6.png");
}

.item_price {
  display: none;
  animation-duration: 800ms;
  animation-name: slider;
}

.item_text {
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1.25px;
  transition: 800ms ease-in-out;
}

.main__item:hover .item_price {
  width: 300px;
  height: 59px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 16px;
  background-color: #f26522;
}

.main__item:hover .item_price p {
  text-align: left;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 1px;
}

.main__item:hover .item_price span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1px;
}

.main__item:hover .item_price span span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
}

.main__item:hover .item_price span span::after {
  margin: 0 16px;
  content: ">";
}

.main__item:hover .item_text {
  color: #f26522;
}

.footer {
  padding: 15px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}